@charset "UTF-8";

.container {
	background-color: #FFFFFF;
	width: 90%;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0;
}

.header {
	border-bottom: 1px solid #DADADA;
	padding-top: 20px;
	padding-bottom: 20px;
}
nav ul {
	margin-top: 0px;
	margin-right: 0;
	margin-left: 0;
	padding-top: 0px;
	padding-bottom: 35px;
	padding-right: 0;
	padding-left: 0;
	list-style-type: none;
}
nav li {
	float: left;
	display: block;
	width: 33%;
	padding-top: 5px;
	padding-bottom: 6px;
}
nav li a {
	margin: 0;
	display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-family: Helvetica;
	font-weight: 100;
	font-size: 8px;
	letter-spacing: 1px;
	z-index: 30;
}
h1 {
	font-size: 1px;
	font-weight: bold;
	padding-bottom: 0px;
	text-decoration: none;
	font-style: normal;
}
.body {
	margin-bottom: 15px;
	padding-top: 28px;
}
.footer {
	font-family: avenir;
	font-weight: lighter;
	text-align: center;
	font-size: 8px;
	letter-spacing: 6px;
	padding-top: 10px;
}
.socialmedia {
	padding-top: 10px;
	margin-bottom: 50px;
}

.socialmedia ul {
	list-style-type: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
}
.socialmedia a {
	display: block;
	float: left;
	width: 33%;
	color: #000000;
}
.aboutheading {
	text-align: center;
	font-family: avenir;
	font-size: 20px;
	padding-top: 24px;
}
.aboutbody {
	font-family: avenir;
	text-align: center;
	padding-top: 0px;
	color: #777777;
	font-weight: lighter;
	font-size: small;
	line-height: 20px;
	padding-bottom: 20px;
}
.aboutbody .email {
	color: #000000;
	font-size: x-small;
	padding-bottom: 18px;
}
.videosbody {
	font-family: avenir;
	font-size: 10px;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 20px;
	line-height: 12px;
}
.videosbody img {
	padding-top: 0px;
	padding-bottom: 0px;
}
.videosbody em {
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
	padding-bottom: 0px;
}
.gallery {
	width: 100%;
	max-width: 400px;
	height: 100%;
	position: relative;
	padding: 0;
	margin: 0 auto;
	text-align: center;
	}
.gallery-image{
	cursor: pointer;
	position: relative;
	display: block;
	padding-top: 0px;
	}
.gallery-text{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 98%;
	text-align: center;
	background-color: rgba(0,0,0,0.8);
	opacity: 0;
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	transition: opacity 0.6s;
	vertical-align: middle;
	display:flex;
    align-items: center;
    justify-content: center;
	}

	.gallery-text:hover{
	    opacity: 1;      
	}

	.gallery-text h3{
	color: white;
	display: inline-table;
	vertical-align: middle;
	font-family: avenir;
	font-size: 12px;
	}
	.gallery-caption {
	font-family: avenir;
	font-size: 10px;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	line-height: 12px;
}
.gallery-caption em {
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
	padding-bottom: 0px;	
}
.bodycontainer #retailspace {
	padding-bottom: 40px;
}
.gif {
	padding-top: 0px;
}
.photo {
	padding-top: 0px;
	border-top: 1px solid #DADADA;
}
.photo em{
	font-family: avenir;
	text-align: center;
	line-height: 12px;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
}
.photogallery {
	margin-top: 40px;
	margin-bottom: 40px;
}
.my-gallery {
	width: 100%;
	float: left;
	font-family: avenir;
	font-size: 10px;
	text-align: center;
	line-height: 12px;
	padding-bottom: 0px;
}
.my-gallery em{
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
}
.my-gallery img {
	width: 100%;
	height: auto;
}
.my-gallery figure {
  display: block;
  float: left;
  margin: 0 5px 0px 0;
  width: 100%;
}
.my-gallery figcaption {
  display: none;
}
.my-gallery #half {
	width: 48%;
}
.youtube-container {
	display: block;
	margin: 0px auto;
	width: 100%;
	max-width: 600px;
	padding-bottom: 0px;
}
.youtube-player-allthismoney { 
	display: block; 
	width: 100%; /* assuming that the video has a 16:9 ratio */ 
	padding-bottom: 53.2%; 
	overflow: hidden; 
	position: relative; 
	width: 100%; 
	height: 100%; 
	cursor: hand; 
	cursor: pointer; 
	display: block;
	margin-bottom: 15px;
	margin-top: 15px;
}
.youtube-player-ohshit { 
	display: block; 
	width: 100%; /* assuming that the video has a 16:9 ratio */ 
	padding-bottom: 50%; 
	overflow: hidden; 
	position: relative; 
	width: 100%; 
	height: 100%; 
	cursor: hand; 
	cursor: pointer; 
	display: block;
	margin-top: 15px;
	margin-bottom: 15px;
}
.youtube-player-yo { 
	display: block; 
	width: 100%; /* assuming that the video has a 16:9 ratio */ 
	padding-bottom: 56.25%; 
	overflow: hidden; 
	position: relative; 
	width: 100%; 
	height: 100%; 
	cursor: hand; 
	cursor: pointer; 
	display: block;
	margin-bottom: 15px;
	margin-top: 15px;
}
.youtube-player-squad { 
	display: block; 
	width: 100%; /* assuming that the video has a 16:9 ratio */ 
	padding-bottom: 43.25%; 
	overflow: hidden; 
	position: relative; 
	width: 100%; 
	height: 100%; 
	cursor: hand; 
	cursor: pointer; 
	display: block;
	margin-top: 15px;
	margin-bottom: 15px;
}
.youtube-player-everybodyknows { 
	display: block; 
	width: 100%; /* assuming that the video has a 16:9 ratio */ 
	padding-bottom: 50%; 
	overflow: hidden; 
	position: relative; 
	width: 100%; 
	height: 100%; 
	cursor: hand; 
	cursor: pointer; 
	display: block;
	margin-top: 15px;
	margin-bottom: 15px;
}
.youtube-player-mindright { 
	display: block; 
	width: 100%; /* assuming that the video has a 16:9 ratio */ 
	padding-bottom: 50%; 
	overflow: hidden; 
	position: relative; 
	width: 100%; 
	height: 100%; 
	cursor: hand; 
	cursor: pointer; 
	display: block;
	margin-top: 15px;
	margin-bottom: 15px;
}
img.youtube-thumb { 
	bottom: 0; 
	display: block; 
	left: 0; 
	margin: auto; 
	max-width: 100%; 
	width: 100%; 
	position: absolute; 
	right: 0; 
	top: 0; 
	height: auto 
}
div.play-button { 
	height: 72px; 
	width: 72px; 
	left: 50%; 
	top: 50%; 
	margin-left: -36px; 
	margin-top: -36px; 
	position: absolute; 
	background: url("../img/TxzC70f.png") no-repeat; 
}
#youtube-iframe { 
	width: 100%; 
	height: 100%; 
	position: absolute; 
	top: 0; 
	left: 0; 
}

.vimeo-container {
	display: block;
	margin: 0px auto;
	width: 100%;
	max-width: 600px;
	padding-bottom: 0px;
}
.vimeo-player { 
	display: block; 
	width: 100%; /* assuming that the video has a 16:9 ratio */ 
	padding-bottom: 56.25%; 
	overflow: hidden; 
	position: relative; 
	width: 100%; 
	height: 100%; 
	cursor: hand; 
	cursor: pointer; 
	display: block;
	margin-bottom: 15px;
	margin-top: 15px;
}
img.vimeo-thumb { 
	bottom: 0; 
	display: block; 
	left: 0; 
	margin: auto; 
	max-width: 100%; 
	width: 100%; 
	position: absolute; 
	right: 0; 
	top: 0; 
	height: auto 
}
div.play-button { 
	height: 72px; 
	width: 72px; 
	left: 50%; 
	top: 50%; 
	margin-left: -36px; 
	margin-top: -36px; 
	position: absolute; 
	background: url("../img/TxzC70f.png") no-repeat; 
	opacity: .8;
}
#vimeo-iframe { 
	width: 100%; 
	height: 100%; 
	position: absolute; 
	top: 0; 
	left: 0; 
}
.bodycontainer #retailspace {
	padding-bottom: 16px;
	padding-top: 22px;
}
.caption {
	color: #000000;
	font-family: avenir;
	font-family: avenir;
	font-size: 10px;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 16px;
	line-height: 12px;
}
.truckcaption {
	color: #000000;
	font-family: avenir;
	font-family: avenir;
	font-size: 10px;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 4px;
	line-height: 12px;
}
@media (min-width: 600px) 
{
nav li a {
	margin: 0;
	display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-family: Helvetica;
	font-weight: 100;
	font-size: 10px;
	letter-spacing: 1px;
}
.vimeocaption {
	padding-top: 12px;
	padding-bottom: 26px;
}
.bodycontainer #retailspace {
	padding-bottom: 20px;
	padding-top: 22px;
}
.footer {
	font-family: avenir;
	text-align: center;
	font-size: 9px;
	padding-top: 0px;
	
}
.aboutheading {
	text-align: center;
	font-family: avenir;
	font-size: 20px;
	padding-top: 30px;
}
.aboutbody {
	font-family: avenir;
	text-align: center;
	padding-top: 0px;
	color: #777777;
	font-weight: lighter;
	font-size: px;
	line-height: 20px;
	padding-bottom: 30px;
}
.aboutbody .email {
	color: #000000;
	font-size: 12px;
}
.videosbody {
	font-family: avenir;
	font-size: 12px;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 20px;
	line-height: 15px;
}
.videosbody em {
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	padding-bottom: 0px;
}
}
