@charset "UTF-8";

.container {
	background-color: #FFFFFF;
	width: 90%;
	max-width: 365px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	border-bottom-width: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.header {
	border-bottom: 1px solid #DADADA;
	padding-bottom: 10px;
}
#mainnav {
	padding-top: 10px;
}

#mainnav ul {
	list-style-type: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#mainnav a {
	display: block;
	float: left;
	font-family: Helvetica;
	font-weight: 100;
	font-size: 7px;
	letter-spacing: 1px;
	text-decoration: none;
	text-align: center;
	width: 33%;
	color: #000000;
}
.bodypic {
	width: 100%;
	margin-top: 25px;
}
.footer {
	font-family: avenir;
	font-weight: lighter;
	text-align: center;
	font-size: 11px;
	letter-spacing: 6px;
	padding-top: 145px;
}
#socialmedia {
	padding-top: 10px;
}

#socialmedia ul {
	list-style-type: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 0px;
	text-align: center;
}
#socialmedia a {
	display: block;
	float: left;
	width: 33%;
	color: #000000;
}
