@charset "UTF-8";

.container {
	background-color: #FFFFFF;
	width: 90%;
	max-width: 365px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	border-bottom-width: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.header {
	border-bottom: 1px solid #DADADA;
	padding-bottom: 20px;
	padding-top: 0px;
}
.mainnav {
	padding-top: 13px;
}

.mainnav ul {
	list-style-type: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.mainnav a {
	display: block;
	float: left;
	font-family: Helvetica;
	font-weight: 100;
	font-size: 8px;
	letter-spacing: 1px;
	text-decoration: none;
	text-align: center;
	width: 33%;
	color: #000000;
	height: 30px;
}
.bodypic {
	width: 100%;
	margin-top: 25px;
}
.footer {
	font-family: avenir;
	font-weight: lighter;
	text-align: center;
	font-size: 11px;
	letter-spacing: 6px;
	padding-top: 5px;
}
.body {
	margin-bottom: 20px;
	padding-top: 35px;
}
.socialmedia {
	padding-top: 10px;
}

.socialmedia ul {
	list-style-type: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 0px;
	text-align: center;
}
.socialmedia a {
	display: block;
	float: left;
	width: 33%;
	color: #000000;
}
.demovideo {
	padding-top: 25px;
}
.aboutheading {
	text-align: center;
	font-family: avenir;
	font-size: 20px;
	padding-top: 35px;
}
.aboutbody {
	font-family: avenir;
	text-align: center;
	padding-top: 0px;
	color: #777777;
	font-weight: lighter;
	font-size: small;
	line-height: 20px;
	padding-bottom: 20px;
}
.aboutbody .email {
	color: #000000;
	font-size: x-small;
}
.videosbody {
	font-family: avenir;
	font-size: 10px;
	text-align: center;
	padding-top: 14px;
	padding-bottom: 20px;
	line-height: 12px;
}
.videosbody img {
	padding-top: 20px;
	padding-bottom: 10px;
}
.videosbody em {
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
	padding-bottom: 0px;
}
.youtubecontainer {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-radius: 10px;
	height: 100%;
}
.bodycontainer {
	height: 90%;
	padding-top: 34px;
	padding-bottom: 24px;
	padding-top: 36px;
}
.gif {
	border-radius: 10px;
}
